<div class="container">
  <div class="header">
    <div>
      <img src="assets/hammer-and-pick.svg" alt="Hammer Logo"/>
      <h1>
        &nbsp;Dynamic Menu Builder &nbsp;&nbsp;&nbsp;&nbsp;
      </h1>
    </div>
    <div id="menus" *ngFor="">
    </div>
    <div id="select-bar">
      <mat-form-field>
        <mat-label>Role ID</mat-label>
        <mat-select [(ngModel)]="roleId" (selectionChange)="query()" >
          <mat-option *ngFor="let role of roles" [value]="role">
            {{role}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
